<div class = "mainWindowBrest">
  <div class="container">
    <div class="row">
      <div class="col-lg-12">
        <div class="cityTitle">
          <h1>Brest Weather</h1>
        </div>
        <div class="inline-block">            
          <button class="btn-custom" type="button" ng-click="showTempDetails()"><img src="assets/icon/weather/{{brCurrentIcon}}.svg" width="75" height="75"/> {{brCurrentTemp}}°C
          </button> 
          <button class="btn-custom" type="button"> Wind Button</button>
          <button class="btn-custom" type="button"> Humidity Button</button>    
        </div>
      </div>
    </div>
  </div>
  <div class="panel panel-default" ng-show="detailTempVisibled">  
    <div class="panel-heading panel-heading-custom">Température
    <input type="radio" ng-model="valDay" value="0"> Today
    <input type="radio" ng-model="valDay" value="1"> D+1
    <input type="radio" ng-model="valDay" value="2"> D+2
    <input type="radio" ng-model="valDay" value="3"> D+3
    </div>
    <table class="table tableCustom">
      <thead>
        <tr>
          <th>Heure</th>
          <th>Temperature</th>
        </tr>
      </thead>
      <tbody>
        <tr ng-if="cityData.forecast[valDay].current != null ">
          <td>{{cityData.forecast[valDay].current.hour}}h</td>
          <td>{{cityData.forecast[valDay].current.temp}}°C</td>
        </tr>
        <tr ng-if="cityData.forecast[valDay].h01 != null ">
          <td>{{cityData.forecast[valDay].h01.hour}}h</td>
          <td>{{cityData.forecast[valDay].h01.temp}}°C</td>
        </tr>
        <tr ng-if="cityData.forecast[valDay].h07 != null ">
          <td>{{cityData.forecast[valDay].h07.hour}}h</td>
          <td>{{cityData.forecast[valDay].h07.temp}}°C</td>
        </tr>
        <tr ng-if="cityData.forecast[valDay].h13 != null ">
          <td>{{cityData.forecast[valDay].h13.hour}}h</td>
        <td>{{cityData.forecast[valDay].h13.temp}}°C</td>
        </tr>
        <tr ng-if="cityData.forecast[valDay].h19 != null ">
          <td>{{cityData.forecast[valDay].h19.hour}}h</td>
          <td>{{cityData.forecast[valDay].h19.temp}}°C</td>
        </tr>
      </tbody>
    </table>
    </div>
</div>

